# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.directory

# Editors
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Wireshark
*.pcap
*.pcapng
*.cap
*.dmp
*.5vw
*.acp
*.apc
*.atc
*.bfr
*.enc
*.trc
*.trace
*.out
*.log

# Backup files
*.bak
*.backup
*.old
*.orig